# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

replant-release.keystore
upload_certificate.pem

# Keystore properties (민감한 정보)
keystore.properties