<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIhn0Y2fmnjqewOlkFyTyuuD1iX8fzLwI</string>
	<key>GCM_SENDER_ID</key>
	<string>790088481651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.replantmobileapp</string>
	<key>PROJECT_ID</key>
	<string>replant-771e5</string>
	<key>STORAGE_BUCKET</key>
	<string>replant-771e5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790088481651:ios:30b36a6dfbd36e52776306</string>
	<key>DATABASE_URL</key>
	<string>https://replant-771e5-default-rtdb.firebaseio.com</string>
</dict>
</plist>